name: Validate Pull Request

# This workflow verifies that the site will build for pull requests.
on: [pull_request]

jobs:
  validate-pull-request:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Fixup Git URLs, see:
    # https://stackoverflow.com/questions/70663523/the-unauthenticated-git-protocol-on-port-9418-is-no-longer-supported
    - name: Fix up git URLs
      run: echo -e '[url "https://github.com/"]\n  insteadOf = "git://github.com/"' >> ~/.gitconfig
    
    # Check typescript compiles properly.
    - name: Check TypeScript
      run: make typescript-check

    # Run the build - this will fail if there are broken links etc.
    - name: Build
      run: make build

    # Store the artifacts in case we want to validate samples etc.
    - name: Store Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: artifacts

  # See:
  # https://github.com/marketplace/actions/deploy-pr-preview
  deploy-preview:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Build with the correct baseUrl for PR previews. The preview action
      # deploys to /pr-preview/pr-{number}/ so we need to set baseUrl to match,
      # otherwise Docusaurus assets won't load correctly.
      - name: Install and Build
        if: github.event.action != 'closed'
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          npm install --legacy-peer-deps
          if [ -n "$PR_NUMBER" ]; then
            npm run build -- --config "baseUrl:/pr-preview/pr-${PR_NUMBER}/"
          else
            npm run build
          fi

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/
